{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<style>
    body {
        background: #e8f1f9;
    }
</style>
{% endblock %}


{% block title %}
Flasky Task
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

            <h1 class="pt-5 pb-2">Task List</h1>

            <p class="lead"><a href="/task">New Task</a></p>

            {{ wtf.quick_form(form) }}

            <nav class="nav">
                <a class="nav-link active" aria-current="page" href="/">Open Tasks</a>
                <a class="nav-link" href="/?closed=True">Closed Tasks</a>
            </nav>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Project</th>
                        <th>Priority</th>
                        <th>Due</th>
                        <th>Done</th>
                        <th>Up</th>
                        <th>Down</th>
                    </tr>
                </thead>

                <tbody>
                    {% for task in tasks %}
                    <tr {% if task.overdue %} class="table-danger" {% endif %}>
                        <td><a href="task/{{ task._id}}">{{ task.task_name }}</a></td>
                        <td>{{ task.task_project }}</td>
                        <td>{{ task.task_priority }}</td>
                        <td><a href="task_reschedule/{{ task._id}}"> {{ task.task_due }}</a></td>
                        <td><a href="task_close/{{ task._id}}">&check;</a></td>
                        <td><a href="task_up/{{ task._id}}">&uarr;</a></td>
                        <td><a href="task_down/{{ task._id}}">&darr;</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}