{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<style>
    body {
        background: #e8f1f9;
    }
</style>
{% endblock %}


{% block title %}
Flasky Task
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

            <h1 class="pt-5 pb-2">Task Search</h1>

            <nav class="nav">
                <a class="nav-link active" aria-current="page" href="/">Task View</a>
            </nav>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Project</th>
                        <th>Priority</th>
                        <th>Due</th>
                        <th>Description</th>
                        <th>Score</th>
                    </tr>
                </thead>

                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td><a href="task/{{ task._id}}">{{ task.task_name }}</a></td>
                        <td>{{ task.task_project }}</td>
                        <td>{{ task.task_priority }}</td>
                        <td><a href="task_reschedule/{{ task._id}}"> {{ task.task_due }}</a></td>
                        <td>{{ task.task_desc }}</td>
                        <td>{{ task.score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}